---
import BlogCard from "./blog-elements/BlogCard.astro";
---

<section class="blog" id="blog">
  <div class="container">
    <p class="section-subtitle">News & Blogs</p>

    <h2 class="h2 section-title">Leatest News Feeds</h2>

    <ul class="blog-list has-scrollbar">
      <BlogCard />
    </ul>
  </div>
</section>

<style>
  .blog {
    padding-block: var(--section-padding);
  }
</style>
