---
import FeatureCard from "./feature-elements/FeatureCard.astro";
---

<section class="features">
  <div class="container">
    <p class="section-subtitle">Our Aminities</p>

    <h2 class="h2 section-title">Building Aminities</h2>

    <ul class="features-list">

      <FeatureCard />
      
    </ul>
  </div>
</section>

<style>
  .features {
    background: var(--cultured-2);
    padding-block: var(--section-padding);
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 20px;
  }

  .features-list > li {
    width: calc(50% - 10px);
  }

  .features-list {
    column-gap: 30px;
  }

  .features-list > li {
    width: calc(25% - 30px);
  }
</style>
