---
import FooterBrand from "./footer-elements/FooterBrand.astro";
import LinkBox from "./footer-elements/LinkBox.astro";
---

<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <FooterBrand />

      <LinkBox />
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; codewithsadee | <a
          href="https://github.com/codewithsadee/homeverse/tree/master"
          target="_blank">Original Code</a
        > | <a href="https://codewithsadee.github.io/homeverse/" target="_blank"
          >Live Site</a
        >
      </p>
    </div>
  </div>
</footer>

<style>
  .footer {
    background: var(--raisin-black-1);
    color: var(--white);
    margin-bottom: 68px;
  }

  .footer .container {
    padding-inline: 30px;
  }

  .footer a {
    color: inherit;
  }

  .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .footer-list-title {
    font-family: var(--ff-poppins);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    margin-bottom: 15px;
  }

  .footer-link {
    font-size: var(--fs-5);
    padding-block: 10px;
  }

  .footer-link:is(:hover, :focus) {
    color: var(--orange-soda);
  }

  .footer-bottom {
    background: var(--raisin-black-2);
    padding-block: 25px;
  }

  .copyright {
    font-size: var(--fs-5);
    text-align: center;
  }

  .copyright a {
    display: inline-block;
  }

  .copyright a:is(:hover, :focus) {
    color: var(--orange-soda);
  }

  @media (min-width: 768px) {
    .footer {
      margin-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    .footer-top .container {
      display: flex;
      justify-content: space-between;
    }

    .footer-brand {
      max-width: 300px;
      margin-bottom: 0;
    }
  }

  @media (min-width: 1200px) {
    .footer {
      --fs-5: 1rem;
    }

    .footer-link-box {
      flex-basis: 700px;
    }
  }
</style>
