---
import Service from "./Service.astro";
import Hero from "./Hero.astro";
import About from "./About.astro";
import Features from "./Features.astro";
import Blog from "./Blog.astro";
import Cta from "./Cta.astro";
import Property from './Property.astro';
---

<main>
  <article>
      <Hero />      
      <About />
      <Service />
      <Property />
      <Features />
      <Blog />
      <Cta />
  </article>
</main>
