---
import PropertyCard from "./property-elements/PropertyCard.astro";
---

<section class="property" id="property">
  <div class="container">
    <p class="section-subtitle">Properties</p>

    <h2 class="h2 section-title">Featured Listings</h2>

    <ul class="property-list has-scrollbar">

      <PropertyCard />
      
    </ul>
  </div>
</section>

<style>
  .property {
    padding-block: var(--section-padding);
  }

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }
</style>
